{% include base_path %}

<style>
  .masthead {
    position: relative;
    border-bottom: 1px solid #f2f2f2;
  }
  
  .masthead__inner-wrap {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1em;
  }
  
  /* Site title positioning (over portrait) */
  .site-title {
    margin-left: 36px; /* Align with author sidebar */
    font-size: 1.5em;
    font-weight: bold;
  }
  
  /* Navigation menu alignment */
  .masthead__menu {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: flex-end; /* Align tabs with content */
    padding-right: 2em; /* Match content padding */
  }
  
  .greedy-nav {
    display: flex;
    width: auto;
  }
  
  .greedy-nav .visible-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  
  .greedy-nav .visible-links li {
    display: inline-block;
    margin-right: 1em; /* Add spacing between tabs */
    white-space: nowrap;
  }
  
  .greedy-nav .visible-links li:last-child {
    margin-right: 0;
  }
  
  /* Responsive adjustments */
  @media screen and (max-width: 768px) {
    .site-title {
      margin-left: 0;
      text-align: center;
    }
    
    .masthead__menu {
      justify-content: center;
      padding-right: 0;
    }
    
    .greedy-nav .visible-links li {
      margin: 0 0.5em;
    }
  }
</style>

<div class="masthead">
  <div class="masthead__inner-wrap">
    <!-- Site title (aligns with portrait) -->
    <div class="site-title">
      <a href="{{ base_path }}/">{{ site.title }}</a>
    </div>
    
    <!-- Navigation menu (aligned with content) -->
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>